<%- include("header"); -%>

<h1>Customers list</h1>

<div class="grid row row-cols-1 row-cols-md-6 g-4">
    <div class="grid-item col">
        <div class="card h-100">
            <img class="card-img" src="/images/c1.jpg" alt="c1"/>

            <div class="card-content">
                <h2 class="card-header">Jane </h2>
                <p class="card-text" name="num"> amount </p>
                <form action="/transfer">
                <button type="submit" class="card-btn"> Transfer </button>
                </form>
            </div>

        </div>
    </div>

    <div class="grid-item col">
        <div class="card h-100">
            <img class="card-img" src="/images/c2.jpg" alt="c2"/>
            <div class="card-content">
                <h2 class="card-header">John </h2>
                <p class="card-text">Amount Balance = 500/-</p>
                <form action="/transfer">
                <button class="card-btn"> Transfer </button>
                </form>
            </div>
        </div>
    </div>

    <div class="grid-item col">
        <div class="card h-100">
            <img class="card-img" src="/images/c3.jpg" alt="c3"/>
            <div class="card-content">
                <h2 class="card-header">Frank</h2>
                <p class="card-text">Amount Balance = 500/-</p>
                <form action="/transfer">
                <button class="card-btn"> Transfer </button>
                </form>
            </div>
        </div>
    </div>

    <div class="grid-item col">
        <div class="card h-100">
            <img class="card-img" src="/images/c4.jpg" alt="c4"/>
            <div class="card-content">
                <h2 class="card-header">Tom </h2>
                <p class="card-text">Amount Balance = 500/-</p>
                <form action="/transfer">
                <button class="card-btn"> Transfer </button>
                </form>
            </div>
        </div>
    </div>

    <div class="grid-item col">
        <div class="card h-100">
            <img class="card-img" src="/images/c5.jpg" alt="c5"/>
            <div class="card-content">
                <h2 class="card-header">Evans</h2>
                <p class="card-text">Amount Balance = 500/-</p>
                <form action="/transfer">
                <button class="card-btn"> Transfer </button>
                </form>
            </div>
        </div>
    </div>

  

</div>





<%- include("footer"); -%>