   
   <%- include("header"); -%>

      <div class="content">
        <h1>Welcome to Banking Systems</h1>
        <p>Receive and tranfer money safely here ..</p>

        <div>
          <a href="/newuser"><button type="submit"><span></span>New User</button></a>
          <a href="/currentuser"><button type="submit"><span></span>Sign in</button></a>
        </div>

      </div>

      <%- include("footer"); -%>
